@inherits BaseTodoItems
<Container Fluid>
    <Row>
        <Column>
            <Card>
                <CardHeader Padding="Padding.Is1.FromBottom">
                    <CardTitle Size="4">Todo List</CardTitle>
                </CardHeader>
                <CardBody Padding="Padding.Is0.FromBottom">
                    <Fields>
                        <Column ColumnSize="ColumnSize.Is1">
                            <Check Checked="@Todos.All(x => x.Completed)" CheckedChanged="@OnCheckAll" TValue="bool">All</Check>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is11">
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <Validations Mode="ValidationMode.Manual" @ref="validations">
                                        <Validation Validator="@ValidationRule.IsNotEmpty">
                                            <TextEdit @bind-Text="@description" Placeholder="What needs to be done?"></TextEdit>
                                        </Validation>
                                    </Validations>
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Clicked="@OnAddTodo" Color="Color.Primary">
                                        <Icon Name="IconName.Add"/>Add
                                    </Button>
                                </Addon>
                            </Addons>
                        </Column>
                    </Fields>
                </CardBody>
                <CardBody Padding="Padding.Is0.OnY">
                    <ListGroup Flush>
                        @foreach (Todo todo in Todos)
                        {
                            <TodoItem StatusChanged="@OnTodoStatusChanged" Todo="@todo"/>
                        }
                    </ListGroup>
                </CardBody>
                <CardFooter Padding="Padding.Is3.FromBottom">
                    <Field Horizontal>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <Buttons Role="ButtonsRole.Addons">
                                <Button Active="@(filter == Filter.All)" Clicked="@(() => SetFilter(Filter.All))" Color="Color.Info">All</Button>
                                <Button Active="@(filter == Filter.Active)" Clicked="@(() => SetFilter(Filter.Active))" Color="Color.Info">Active</Button>
                                <Button Active="@(filter == Filter.Completed)" Clicked="@(() => SetFilter(Filter.Completed))" Color="Color.Info">Completed</Button>
                            </Buttons>
                        </FieldBody>
                        <FieldBody ColumnSize="ColumnSize.Is2">
                            <Button Clicked="@OnClearCompleted" Color="Color.Warning" Display="@(todos.Any(x => x.Completed) ? Display.Always : Display.None)" Float="Float.End">Clear Completed</Button>
                        </FieldBody>
                    </Field>
                </CardFooter>
            </Card>
        </Column>
    </Row>
</Container>